/* IMPORT DES FONTS  */
@font-face {
    font-family: "crp-medium";
    src: url("../assets/fonts/TypeMates\ -\ CeraRoundPro-Medium.otf") format("truetype");
   }
@font-face {
    font-family: "crp-light";
    src: url("../assets/fonts/TypeMates\ -\ CeraRoundPro-Light.otf") format("truetype");
   }

/* STYLES DU SITE */

body{
    font-family: "crp-light";
    overflow-x: hidden;
    color: #fefefe;
    font-size: 12px;
}

h1{
    font-family: "crp-medium";
    font-size: 24px;
}
h1 span {
    background-color: #b3a1ff;
    width: 80%;
    text-align: center;
    transform: translateX(-14px);

}
h2{
    font-family: "crp-medium";
    font-size: 16px;
}
ul{
    margin-top: 0;
    max-width: 200px;
}
li{
    list-style: none;
    max-width: 200px;
}
p{
    width: 300px;
}
.one, .two, .three {
    display: block;
}

button{
    padding: 10px;
    background-color: #6cbfdd;
    color: #fefefe;
    border: none;
    border-radius: 50px;
    margin: 20px;
    font-family: "crp-medium";
    font-size: 20px;
    width: 92px;
    height: 30px;
}

.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.reveal{
    transform: translateY(50px);
    opacity: 0;
}

.pink {
    background-color: #bf6b7f;
    padding: 2px 5px;
}
/* HOME */

.home{
    background-color: #d0748a;
    height: 25vh;
    width: 100vw;
}
.background__home{
    height: 100%;
    width: 80%;
    background-image: url('../assets/img/background__home.png');
    background-size: 120%;
    background-position: 9% 100% ;
    position: relative;
    transform: translateY(20px);
    box-shadow: 3px 35px 114px -4px black;
}
.button--contact{
    position: absolute;
    top: -35px;
    right: -30px;
    width: 92px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}
.button--contact a{
    text-decoration: none;
    color: #ffffff;
}
.background__home h1 span{
    display: block;
}

.background__home img{
    width: 50px;
    position: absolute;
    left: 0;
    transform: translateX(-10px);
}

/* SERVICE */

.service{
    background-color: #211d35;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.service ul {
    display: flex;
    position: relative;
}
.logo{
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}

.service .logo{
    left: -10px;
}

.logo img{
    width: 30px;
    display: block;
    align-self: center;
}
.devenir--exelent{
    background-image: url('../assets/img/devenir--exelent.png');
    background-size: cover;
    background-position: center bottom;
    height: 40vw;
    width: 75vw;
    text-align: center;
    background-position: 13% 72%;
    transform: translateY(90px);
    font-family: "crp-medium";
    box-shadow: 3px 35px 114px -4px black;
}

.devenir--exelent h2 {
    font-size: 23px;
    line-height: 28px;
}

/* ETAPE */

.etape{
    background-color: #a6e5ff;
    padding-top: 60px;
}
.title--etape {
    margin-top: 100px;
}
.etape h2{
    color: #292341;
}
.etape h2 span{
    display: block;
    color: #80bad2;
}
.etape ul{
    color: #292341;
    position: relative;
}
.etape ul .logo img{
    width: 50px;
    transform: translateX(20px);
}

/* SOLUTION */

.solution{
    background-color: #211d35;
    padding: 50px;
}
.solution p{
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
}
.solution h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}
.solution button {
    font-size: 11px;
    height: 40px;
    width: 142px;
    cursor: pointer;
}
.solution button a {
    color: white;
    text-decoration: none;
    outline: none;
}
.logo--footer{
    margin: 50px;
    width: 100px;
}
/*---------------- 
------------------
--- RESPONSIVE --- 
------------------
-----------------*/

@media screen and (min-width: 640px) {
    
    /* STYLES DU SITE */


body{

    font-size: 16px;
}

h1{
    font-family: "crp-medium";
    font-size: 42px;
}
h2{
    font-family: "crp-medium";
    font-size: 28px;
    width: 500px;
}
ul{
    margin-top: 0;
    max-width: 200px;
}
li{
    max-width: 500px;
}
p{
    width: 600px;
}

.one {
    font-size: 52px;
}
.flex-center-center{
    display: flex;
    align-items: flex-start;

    
}

.button--contact{
    position: absolute;
    top: -35px;
    right: -30px;
    width: 100px;
    height: 50px;
}
/* HOME */

.home{
    height: 70vh;
    
}
.background__home{
    height: 100%;
    transform: translateY(50px);
    margin: auto;
}
.background__home h1{
    margin-left: 20vw;
}
.background__home h1 span{
    display: block;
}

.background__home img{
    width: 100px;
    position: absolute;
    left: 0;
    transform: translateX(-3vw);
}

/* SERVICE */

.service{
    background-color: #211d35;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.service ul {
    margin-left: 20vw;
}
.logo{
    left: -50px;
}
.logo img{
    width: 50px;
}
.service .logo{
    left: -40px;
}
.devenir--exelent{
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 20px;
    transform: translateY(220px);
}
.devenir--exelent h2{
    font-size: 40px;
    width: 100%;
    line-height: 45px;
    margin: auto;
}

/* ETAPE */

.etape{
    
    padding-top: 80px;
    padding-bottom: 50px;
}
.title--etape{
    margin-left: 20vw;
    margin-top: 250px;
}

.etape ul{

    margin-left: 20vw;
}
.etape li {
    width: 500px!important;
}
.etape ul .logo img{
    width: 50px;
}

/* SOLUTION */

.solution{
    background-color: #211d35;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.solution p{
    text-align: center;
    font-size: 20px;
    margin-top: 0px;

}
.solution h2 {
    font-size: 48px;
    margin-bottom: 10px;

}

.solution button{
    font-size: 13px;
    width: 172px;
    height: 40px;
}


}
